
      
     .slick-dots li.slick-active button:before {
      color:White !important;

     }




     .underlined {

         color: #90caf9;

     }


     .slick-track,
     .slick-list {
     -webkit-perspective: 2000;
     -webkit-backface-visibility: hidden;
     }



     .avatar {

         width:100%;
     }

     
    


     

        
       

         
       
           
  


