
      
     .slick-dots li.slick-active button:before {
      color:White !important;

     }




     .underlined {

         color: #90caf9;

     }


     .slick-track,
     .slick-list {
     -webkit-perspective: 2000;
     -webkit-backface-visibility: hidden;
     }



     .avatar {

         width:100%;
     }

     
     .bg-1 {
        object-fit:cover;
        object-position:50% 50%;
        vertical-align: middle;
        max-width:100%;
       
       
     }
    
     .bg-2 {
        object-fit:cover; 
        object-position:50% 50%; 
        vertical-align: middle;
        max-width:100%;
        
       
    }

    .bg-3 {
        object-fit:cover;
        object-position:50% 50%;
        vertical-align: middle;
        max-width:100%;
        
    }


    @media only screen and (min-width: 1536px)  {

   

   .slick-slide img {
    display: block;
    min-height: 46rem; 

             }
        
        }




     

        
       

         
       
           
  


